*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    position: relative;
    background: cornflowerblue;
    color: white;
    height: 10vh;
}

nav ul{
    display: flex; /**/
    justify-content: space-around;
    list-style: none;
    width: 50%;
    height: 100%;
    align-items: center;
    margin-left: auto;
}

nav li{
    flex-direction: row;
}

nav a{
    text-decoration: none;
    color: white;
}



@media screen and (max-width: 700px){
    .hamberger{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-5%, -50%);
        cursor: pointer;
        z-index: 2;
    }
    
    .hamLines{
        width: 40px;
        height: 2px;
        background: white;
        margin-top: 5px;
    }

    .nav-links{
        position: fixed;
        background: cornflowerblue;
        width: 100%;
        height: 90vh;
        color: white;
        flex-direction: column;
        clip-path: circle(10px at 90% -10%);
        -webkit-clip-path: circle(10px at 90% -10%);
        transition: all 1s ease-in-out;
        pointer-events: none;
    }

    .nav-links a{
        color: #fff;
    }

    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%); 
        pointer-events: all;
    }

    .nav-links li{
        font-size: 2em;
        opacity: 0;
    }

    .nav-links li:nth-child(1){
        transition: all 0.5s ease .2s; 
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease .4s; 
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease .6s; 
    }

    li.fade{
        opacity: 1;
    }
}
